.tabs__tab {display: none;}

.tabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
}

.tabs__title {
    width: 1px;
    flex-grow: 1;
    order: -1;
    color: #fff;
    background-color: #2c2c2c;
    cursor: pointer;
    user-select: none;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tabs__text {
    display: none;
    width: 100%;
    flex-grow: 2;
    margin: 0;
    padding: 10px;
    background-color: #ddd;
}

.tabs__tab:checked+.tabs__title {
    color: #000;
    background-color: #ddd;
}

.tabs__tab:checked+.tabs__title+.tabs__text {display: flex;}
.tabs__title:hover {opacity: 0.9;}

label {
    display: block;
    margin-bottom:  10px;
}

.nav_link {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

nav li {
    margin-bottom: 10px;
}

table {
    border-collapse: collapse;
}

table th {
    border: 1px solid black;
}

table td {
    border: 1px solid black;
}